*{
    margin: 25px
}

body{
    background-color: #EEEEEE;
    margin-left: 25px; 
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30pt;
    color: #1a1a1a;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    font-style: italic;
    color: #3c3c3b;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #3c3c3b;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    color: #fafafa;
    text-transform: uppercase;
    background-color: #ae4ad9;
    border: 3px solid #6a2d84;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 60px;
}

button:hover{
     background-color: #6a2d84;
}

/*----------------------------------------------------------*/

.colorbox{
    min-height: 30px;
    max-width: 250px;
    border: 1px solid black;
    margin: 5px;
}

.colorboxp{
    color: black;
    font-weight: 600;
}

.box1{
    background-color: #AE4AD9;
}

.box2{
    background-color: #6a2d84;
}

.box3{
    background-color: #EEEEEE;
}

.box4{
    background-color: #fafafa;
}

/*----------------------------------------------------------*/

.shadowbox{
    background-color: #fafafa;
    max-width: 70%;
    border: 3px solid #6a2d84;
    padding: 25px;
    width: 700px;
    
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

nav{
    
    
    text-transform: uppercase;
    background-color: #fafafa;
    border: 3px solid #6a2d84;
    padding: 10px 25px;
    text-align: left;
    
    
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    color: #3c3c3b;
    cursor: pointer;
}

a:hover{
    border-bottom: 2px solid #ae4ad9
}




























